%h1 Welcome

%h2
  Queue size:
  = @queued

%h2
  Pool size:
  = @pooled

%p
  You have reached the default welcome page for skeletra, a sinatra skeleton
  app. You can find this page in views/index.haml.

%p
  If CSS is working properly, this page should be black.

%p
  If javascript is working properly, you should see a message here:

#js-test-output

%p
  %a{href: '/tick'} tick
