%html
  %head
    %title Skeletra
    %link{rel: "stylesheet", type: "text/css", href: stylesheet_path('app')}
    %script{type: "text/javascript", src: javascript_path('vendor')}
    %script{type: "text/javascript", src: javascript_path('app')}
  %body
    = yield
